.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.input .input-title {
  font-size: 15px;
}

.input input {
  width: 120px;
  border: 1px solid #e1e1e1;
  height: 25px;
  border-radius: 4px;
  padding-left: 10px;
}

.input-container2 {
  width: 120px;
  border: 1px solid #e1e1e1;
  height: 25px;
  border-radius: 4px;
  background-color: rgba(255, 248, 240, 0.93);
}

.input-container2.friend {
  font-size: 13px;
  padding: 2px 8px;
}

.input-container2 select {
  width: 100%;
  border: none;
  outline: none;
  height: 25px;
  text-align: center;
}
