.user_section {
  border: 1px solid blue;
}

.bill_section {
  border: 1px solid grey;
}

.user {
  display: flex;
  border: 1px solid blue;
  padding: 12px;
  transition: 0.4s;
}

.user:hover {
  background-color: #fff4e6;
}

.user.active {
  background: #be9d7a;
}

.user_avatar {
  border: 1px solid red;
  margin-right: 16px;
}

.user_avatar img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.user_info {
  border: 1px solid black;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.user_actions {
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_info_name {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 6px;
}

.user_info_balance {
  font-size: 14px;
}

.red {
  color: red;
}

.blue {
  color: #11c211;
}

.even {
  color: #838383;
}

.add_form {
  background: #fff4e6;
  padding: 12px;
  margin-bottom: 12px;
  margin-top: 12px;
  border-radius: 7px;
}

.add_form input {
  width: 180px;
  height: 25px;
  border-radius: 4px;
  padding-left: 10px;
  border: 1px solid #e1e1e1;
}

.add_form .name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  font-size: 15px;
}

.add_form .image {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.pay-form-container {
  background: #fff4e6;
  padding: 32px;
  border-radius: 7px;
}

.pay-form-container h1 {
  text-transform: uppercase;
}
