body {
  font-family: sans-serif;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.accordion-container {
  width: 600px;
}

.accordion-item {
  margin-bottom: 35px;
  display: grid;
  grid-template-columns: 50px 1fr;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 18px;
  cursor: pointer;
  user-select: none;
}

.accordion-item.active {
  border-top: 4px solid #1a721e;
}

.accordion-header {
  font-size: 24px;
  color: #b4b3b3;
  font-weight: bold;
}

.accordion-header.active {
  color: #1a721e;
}

.title-container {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.title.active {
  color: #1a721e;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 16px;
  height: 16px;
  user-select: none;
}

.content {
  padding-top: 20px;
  line-height: 24px;
}
